@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
  @apply transition-all;
  @apply duration-300;
}

html {
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

section {
  min-height: 100vh;
  width: 100%;
  display: block;
  box-sizing: border-box;
}


.chip {
  display: flex;
  border-radius: 9999px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.75rem;
  white-space: nowrap;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #5d5e5f;
  /* color: white; */
}

@media (prefer-colore-scheme: 'dark') {
  .chip {
    border: 1px solid white;
    color: white;
  }
}

@media (prefer-colore-scheme: 'light') {
  .chip {
    border: 1px solid black;
    color: black;
  }
}